h1 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 60px;
}
h3 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 30px;
    background-color:lightcoral;
    color:white;
}
p {
    font-family: 'Times New Roman', Times, serif;
}
img {
    width:300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid rgb(146, 112, 138);
}
table {
    margin-left:auto;
    margin-right: auto;
}
div {
    text-align: center;
}
hr {
   border-top: 2px dashed black; 
}
.even {
    font-family: 'Courier New', Courier, monospace;
    background-color:lightcoral;
    color:white;
}
.odd {
    font-family: 'Courier New', Courier, monospace;
    background-color:rgb(146, 112, 138);
    color:white;
}